*, ::before, ::after {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Urbanist-Bold";
    src: url('../fonts/Urbanist-Bold.woff2') format('woff2');
}

@font-face {
    font-family: "Urbanist-SemiBold";
    src: url('../fonts/Urbanist-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: "Urbanist-ExtraBold";
    src: url('../fonts/Urbanist-ExtraBold.woff2') format('woff2');
}

:root {
    --primary-blue: #0586B8;
    --primary-green: #B4D36A;
    --primary-black: #17171C;
    --bold: "Urbanist-Bold";
    --semi-bold: "Urbanist-SemiBold";
    --extra-bold: "Urbanist-ExtraBold";
}

/* NAV BAR */

nav {
    height: 76px;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: white;
    box-shadow: 0 0.25px 8px #17171C;
    display: flex;
    justify-content: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1168px;
}

ul.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 42.5px;
    margin-right: 72.5px;
    color: var(--primary-blue);
    font-family: var(--bold);
    font-size: 14px;
    line-height: 24px;
}


ul.nav-menu > li {
    cursor: pointer;
}

ul.nav-menu li > ul.drop-menu {
    position: absolute;
    top: 50px;
    
    display: none;

}

ul.nav-menu li > ul.drop-menu li {
    background-color: white;
    z-index: 999;

}

ul.nav-menu li:hover svg {
    position: absolute;
}

ul.nav-menu li:hover > ul.drop-menu {
    display: block;
    z-index: 999;
    width: 191px;
}


.phone-number {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 38px;
    font-family: var(--semi-bold);
    font-size: 24px;
    color: var(--primary-black);
    
}

nav .call-to-action {
    border-radius: 8px;
    padding: 10px 20px;
    color: white;
    border: none;
    background-color: var(--primary-blue);
    font-family: var(--bold);
    font-size: 18px;
    white-space: nowrap;
}

section {
    margin-top: 76px
}

/* Footer */

footer {
    background-color: var(--primary-blue);
    height: 709px;
}

.footer-container {
    width: 1168px;
}

article h2 {
    font-family: var(--extra-bold);
}

article h2 span {
    color: white
}